

*, *::before, *::after {
    box-sizing: border-box;
    font-family: monospace; 
    color: rgb(17, 17, 17);
}
.body-index{margin-top:80px; max-width:1400px; overflow-y:hidden;}
@media only screen and (min-width: 992px) {
    h3{font-size: 22px!important;

}
}
h3{letter-spacing: 3px;
    width: auto!important;
    font-family: cursive!important;
    font-size: 22px;
    font-weight: bold!important;
    color: #000;
    text-transform: uppercase;}
h5{font-size: 18px;
    font-weight: bold;
    color: #000;
    font-family: monospace;
    letter-spacing: 2px;}
    .close-main-menu{display: none;}
html, body{ padding:0;margin:0;color: rgb(37, 37, 37); overflow-x: hidden;}
@media only screen and (max-width: 992px) {.body-index{margin-top: 0;} body{background-color: #fff!important;}
 .backPadding{padding-left:1px!important;padding-right: 1px!important;} 
h3{font-size: 20px;} h5{font-size: 16px;}
.close-main-menu{display: block; top: 0!important; right: 0!important;}
}
::-webkit-scrollbar {     
    width: 8px;
}  
::-webkit-scrollbar-track {     
    background-color: #3d3d3db5;
}  ::-webkit-scrollbar-thumb {     
    background: rgb(44, 43, 42);     
}  
::-webkit-scrollbar-thumb:hover {     
    background: rgb(44, 43, 42); 
}

.btn{width: 100%; border-radius: 0; height: 50px; padding: 10px;}
.btn-first{
    background-color: #c00000;
    color: #fff;
    border: 2px solid #ffffff00;
    border-radius: 50px;
    font-weight: bold;
}

.btn-first:hover{
    background-color: #fff;
    color: #c00000;
    border: 2px solid #c00000;
}

.btn-secound{
    background-color: #cacaca;
    border: 2px solid #cacaca;
    color: #000;
    border-radius: 50px;
}

.btn-secound:hover{
    background-color: #fff;
    border: 2px solid #cacaca;
    color: #000;
}

.pretty .state label:before{border-color: #000;}
.pretty.p-default input:checked~.state label:after{background-color: #000!important;}
.pretty input{color: #000!important;}


  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wallpaper_play_game.jpg);
    background-position: center, center, top center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
    background-size: cover;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@media screen and (orientation: portrait){
.bg {
    background-size: auto, auto, auto 100%;
}}

.main-body{
    height: 100%; background-color: #ffffffc9; margin-bottom: 50px; border-radius: 5px;
}