

*, *::before, *::after {
    box-sizing: border-box;
}
@media only screen and (min-width: 960px) {
    h3{font-size: 28px!important;
}
}
h3{letter-spacing: 3px;
    width: auto!important;
    font-family: "Montserrat", sans-serif!important;
    font-size: 24px;
    font-weight: bold!important;
    color: #000;
    text-transform: uppercase;}
h5{font-size: 18px; font-weight: bold; color: #000; font-family: "Montserrat", sans-serif!important; letter-spacing: 2px;}
html, body{ padding:0;margin:0; background-color: #f1f1f1; color: rgb(37, 37, 37); overflow-x: hidden;}
@media only screen and (max-width: 960px) {body{background-color: #fff!important;} .backPadding{padding-left:1px!important;padding-right: 1px!important;}}
::-webkit-scrollbar {     
    width: 8px;
}  
::-webkit-scrollbar-track {     
    background-color: #3d3d3db5;
}  ::-webkit-scrollbar-thumb {     
    background: rgb(44, 43, 42);     
}  
::-webkit-scrollbar-thumb:hover {     
    background: rgb(44, 43, 42); 
}

.btn{width: 100%; border-radius: 0; height: 50px; padding: 10px;}
.btn-first{
    background-color: #c00000;
    color: #fff;
    border: 2px solid #ffffff00;
    border-radius: 50px;
    font-weight: bold;
}

.btn-first:hover{
    background-color: #fff;
    color: #c00000;
    border: 2px solid #c00000;
}

.btn-secound{
    background-color: #cacaca;
    border: 2px solid #cacaca;
    color: #000;
    border-radius: 50px;
}

.btn-secound:hover{
    background-color: #fff;
    border: 2px solid #cacaca;
    color: #000;
}

.pretty .state label:before{border-color: #000;}
.pretty.p-default input:checked~.state label:after{background-color: #000!important;}
.pretty input{color: #000!important;}