*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace!important;
}
body {
    background: #ededed;
}
.block{display: block!important;}
.none{display: none!important;}
input, button {
    border: none;
    outline: none;
    background: none;
}
.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}
.cont {
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    margin: 0 auto 100px;
    background: #fff;
}
.form {
    position: relative;
    width: 640px;
    height: 100%;
    transition: transform 1.2s ease-in-out;
    padding: 50px 30px 0;
}
.sub-cont {
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    transition: transform 1.2s ease-in-out;
}
.cont.s--signup .sub-cont {
    transform: translate3d(-640px, 0, 0);
}
button {
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 30px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.img-prof {
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}
.img-prof:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 900px;
    height: 100%;
    background-image: url('../img/wallpaper_login.png');
    background-size: cover;
    transition: transform 1.2s ease-in-out;
}
.forgot{max-width: 110px;}
.forgot:hover{color: #000; cursor: pointer;}
.img-prof:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.cont.s--signup .img-prof:before {
    transform: translate3d(640px, 0, 0);
}
.img__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform 1.2s ease-in-out;
}
.img__text h2 {
    margin-bottom: 10px;
    font-weight: normal;
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #212931;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../img/wallpaper_play_game.jpg);
    background-position: center, center, top center;
    background-repeat: repeat, no-repeat, no-repeat;
    background-attachment: scroll, scroll, scroll;
    background-size: cover;
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

@media screen and (orientation: portrait){
.bg {
    background-size: auto, auto, auto 100%;
}}
.img__text p {
    font-size: 14px;
    line-height: 1.5;
}
.cont.s--signup .img__text.m--up {
    transform: translateX(520px);
}
.img__text.m--in {
    transform: translateX(-520px);
}
.cont.s--signup .img__text.m--in {
    transform: translateX(0);
}
.img__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: 36px;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
}
.img__btn:after {
    content: '';
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 30px;
}
.img__btn span {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 1.2s;
}
.img__btn span.m--in {
    transform: translateY(-72px);
}
.cont.s--signup .img__btn span.m--in {
    transform: translateY(0);
}
.cont.s--signup .img__btn span.m--up {
    transform: translateY(72px);
}
h2 {
    width: 100%;
    font-size: 26px;
    text-align: center;
}
label {
    display: block;
    width: 260px;
    margin: 25px auto 0;
    text-align: center;
}
label span {
    font-size: 12px;
    color: #cfcfcf;
    text-transform: uppercase;
}
input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
}
.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
    text-align: -webkit-center;
}
.submit {
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}
.fb-btn {
    border: 2px solid #d3dae9;
    color: #8fa1c7;
}
.fb-btn span {
    font-weight: bold;
    color: #455a81;
}
.sign-in {
    transition-timing-function: ease-out;
}
.cont.s--signup .sign-in {
    transition-timing-function: ease-in-out;
    transition-duration: 1.2s;
    transform: translate3d(640px, 0, 0);
}
.sign-up {
    transform: translate3d(-900px, 0, 0);
}
.cont.s--signup .sign-up {
    transform: translate3d(0, 0, 0);
}
.icon-link {
    position: absolute;
    left: 5px;
    bottom: 5px;
    width: 32px;
}
.icon-link img {
    width: 100%;
    vertical-align: top;
}
.icon-link--twitter {
    left: auto;
    right: 5px;
}

.btn-first{
    height: 35px;
    background-color: #c00000;
    color: #fff;
    border: 2px solid #ffffff00;
    border-radius: 50px;
}

.btn-first:hover{
    background-color: #fff;
    color: #c00000;
    border: 2px solid #c00000;
    font-weight: bold;
}

.btn-tres{
    background-color: #455a81;
    height: 40px;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 50px;
}

.btn-tres:hover{
    background-color: #fff;
    border: 2px solid #455a81;
    color: #455a81;}

    input:focus{
        border-bottom: 1px solid #c00000;
    }

.menssage-error, .menssage-error-register{
    display: none;    
    text-align: center;
    margin-top: 40px;
    color: #c00000;
    font-weight: bold;}

.error-block, .error-block-register{display: block;}



    @keyframes shake {
        0% { left: -5px; }
        100% { right: -5px; }
    }

    .error, .error-register {
    position: relative;
      animation: shake .1s linear;
      animation-iteration-count: 3;
      }

    /* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    position: absolute;
    font-family: monospace;
    right: 135px;
    padding: 8px 33px 0px 65px;
    background: #3f3f3f;
    color: #cdcdcd;
    bottom: 20px;
  }
  
  #message p {
    padding: 0px 35px;
    font-size: 12px;
    margin-bottom: 1px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(135, 141, 146);
  }
  .cont{border-radius: 50px; margin-top: 135px;}
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔"!important;
  }
  #top-auto{display: none;}
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  @media only screen and (min-width: 930px) {.linkMobile{display: none;}}
  @media only screen and (max-width: 930px) {
    #message {
        display: none;
        position: absolute;
        font-family: monospace;
        right: 0;
        padding: 8px 33px 0px 65px;
        background: #3f3f3f;
        color: #cdcdcd;
        bottom: 137px;
        width: 100%;
    }
    .form, .sub-cont{transition: transform 0s ease-in-out;}
    .padding-body{padding: 0 15px}
    .cont, .form{width: 100%; max-width: 400px;}
    .sub-cont{display: none; overflow: hidden;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
        padding-left: 0;
        background: #fff;}
    .cont.s--signup .sub-cont {
        transform: translate3d(0, 0, 0)!important;
    }
    label, button{width: 100%; max-width: 260px; height: auto!important;}
    .btn-first{min-height: 35px;}
    .btn-tres{min-height: 40px;}
    .img-prof{display: none;}
    .sign-up {transform: translate3d(0, 0, 0)!important;}
    .linkMobile{
        color: #c00000!important;
        position: absolute;
        bottom: 12px;
        right: 50px;
        border-bottom: 1px solid;
        cursor: pointer;}

    .cont.s--signup .sign-in {
        transition-timing-function: ease-in-out;
        transition-duration: 0s!important;
        transform: translate3d(0, 0, 0)!important;
    }
  }
  @media only screen and (max-width: 300px) {.padding-body{padding: 0 3px} .cont, button{border-radius: 20px!important;} .form {padding: 50px 5px 0;}}

  








