
.ajust-mobile{padding-bottom: 100px;}
.card-haeder-nav{width: 100%; position:relative; height: 150px;border-radius: 20px 20px 0 0; background-color: red; background-image: -o-linear-gradient(left bottom, #d8252e, #5c050d, #720e15, #d8252e, #bd0f11, #5f0002, #bd0f11, #d8252e, #83171e, #6b0f17, #530810, #d8252e); background-image: -webkit-gradient(linear, left bottom, right top, from(#d8252e), color-stop(#5c050d), color-stop(#720e15), color-stop(#d8252e), color-stop(#bd0f11), color-stop(#5f0002), color-stop(#bd0f11), color-stop(#d8252e), color-stop(#83171e), color-stop(#6b0f17), color-stop(#530810), to(#d8252e)); background-image: linear-gradient(to right top, #d8252e, #5c050d, #720e15, #d8252e, #bd0f11, #5f0002, #bd0f11, #d8252e, #83171e, #6b0f17, #530810, #d8252e);}
.card{
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    max-width: 200px;
    border: 0;
    text-align: center;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 3px 3px 5px 6px rgba(0, 0, 0, 0.2);
    box-shadow:         3px 3px 5px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    -webkit-transition: 0.5 ease;
    -o-transition: 0.5 ease;
    transition: 0.5 ease;
    min-height: 346px;
}
.card:hover{    
    -webkit-transform: scale(1.1);    
        -ms-transform: scale(1.1);    
            transform: scale(1.1);
    -webkit-box-shadow: 0 0 rgba(0, 0, 0, 0.2);
    box-shadow:         0 0 rgba(0, 0, 0, 0.2);
    padding: 1px;

}
.card-haeder-nav .imgGif{
    position: absolute;
    top: -20%;
    left: 50%!important;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    width: 100%!important;
    height: 120%!important;}
.inicialization-card{padding: 15px; width: 100%;}
.link-quiz{text-align: -webkit-center;}
@media only screen and (max-width: 460px) {.link-quiz{-ms-flex: 0 0 100%;-webkit-box-flex: 0;flex: 0 0 100%;max-width: 100%;}}
.card-body{    text-align: center; text-align: -webkit-center;}
.width{position: absolute;
    left: 0;
    bottom: 0;width: 100%; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;}
.col-pers-1{width: 50%; font-size: 14px; padding: 10px; background-color: #075300; color: #fff; border-radius: 0 0 0 20px; font-family: monospace;}
.col-pers-2{width: 50%; font-size: 14px; padding: 10px; background-color: #075300; color: #fff; border-left: 1px solid #000; border-radius: 0 0 20px 0; font-family: monospace;}
.card-body a{width: 100%;
    display: block;
    padding: 6px;
    font-size: 14px;
    margin-bottom: 5px;
    width: 70%;
    text-decoration: none;
    height: 35px;
}
.card-body .easy{background-color: #075300; color: #fff;}
.card-body .medium{background-color: #9c8000; color: #fff;}
.card-body .hard{background-color: #590505; color: #fff;}
.card-body{padding: 0; padding-top: 20px; width: 100%;}
.col{width: 50%; padding: 0; margin: 0;}
.ajust-btn{    position: absolute;
    bottom: 40px;
    width: 100%;
    left: 50%!important;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);}

.modal{background-color:#f8f9fae8;}
.modal-content{border-radius:0!important; padding: 15px 50px;}
.img_name_app{width: 50%; max-width: 150px; height: auto; position:absolute; top: 0; left: 0;}
.category_modal{float: right; background-color: rgb(192, 0, 0); color: #fff; padding: 8px 12px; font-weight: bold; font-size: 18px;}
.close-modal{position: absolute; top: 15px; right: 15px; font-size: 30px; z-index: 99999; height: 40px; width: 40px;}
.top15{max-width: 400px; text-align:center; width: 100%;}

.atributo-margin{margin-top: 50px;}

.rank-3d {
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-transform: uppercase;
    border-radius: 50%;
    font-size: 40px;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
    1px 30px 20px rgba(16,16,16,0.4);
}

.box-page{ box-shadow: 1px 1px 4px #2c2c2c; width: 35px; cursor: pointer; line-height: 30px; font-size: 14px; border: 1px solid rgb(31, 31, 31); color: rgb(31, 31, 31); margin: 3px; text-align: center; font-family: "Montserrat", sans-serif;}
.checkpage{margin-top: 50px;}
.box-page:hover, .box-page:active{box-shadow: 0 0; text-decoration: none; color: #000;}
/*.box-page-active{box-shadow: 0 0; font-weight: bold; }*/
.position-absolute{left: 50%; display: inline-flex; transform: translate(-50%, 0);}
.icon-main-menu{display: none;}
@media only screen and (max-width: 992px) {
.main-body-padding{padding-top: 90px; padding-bottom: 50px;}
.ajust-mobile{padding-bottom: 0;}
.icon-main-menu{display: block;
    text-align: right;
    padding: 10px 15px;}

.icon-main-menu span{font-size: 22px; border: 2px solid #00000099;
    padding: 3px 6px; cursor: pointer;     box-shadow: 1px 1px 4px #2c2c2c;}
.icon-main-menu span:hover{box-shadow: 0 0;}
}